@import "../../global.scss";

.services {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 200px 0;
  padding: 25px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    .telefono {
      height: 700px;

      @include mobile {
        height: 500px;
        object-fit: contain;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;

      h3 {
        font-weight: 400;
        font-size: 25px;
        @include mobile {
          font-size: 18px;
        }
        span {
          color: red;
          font-weight: 500;
        }
      }

      .button {
        padding: 30px 0;
        .btn {
          background-color: red;
          text-decoration: none;
          padding: 10px 25px;
          color: white;
          border-radius: 7%;
          border: 2px solid red;
          transition: all 0.5s;

          &:hover {
            color: red;
            background-color: white;
          }
        }
      }
    }
  }
}
