@import "../../global.scss";

.navBar {
  background-color: #009247;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mobile {
    flex-direction: column;
  }

  .logo {
    height: 80px;
    cursor: pointer;
  }

  .list {
    display: flex;
    justify-content: space-around;
    @include mobile {
      padding: 10px;
    }

    a {
      font-size: 25px;
      padding: 10px 25px;
      text-decoration: none;
      color: white;
      cursor: pointer;

      &:hover {
        color: red;
      }

      @include mobile {
        font-size: 15px;
        padding: 5px 15px;
      }
    }
  }
}

.landing {
  background-color: #009246;
  background: linear-gradient(0deg, white 5%, #009247 25%);
  color: white;


  .title {
  
    background-color: #067f41;
    text-align: center;
    padding: 20px;

    .subtitle {
      h4 {
        font-weight: 100;
        font-size: 1.5em;
      }
    }
  }

  .computadora {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    img {
      height: 450px;

      @include mobile {
        width: 100%;
        height: auto;
      }
    }
  }
}
