@import "../../global.scss";

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 180px 0;
  background-color: white;
 
  
  .container {
    -webkit-box-shadow: 0px 20px 0px -10px #ffffff,
    0px -20px 0px -10px #ffffff, 20px 0px 0px -10px #ffffff,
    -20px 0px 0px -10px #ffffff, 0px 0px 0px 10px #ff0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
   box-shadow: 0px 20px 0px -10px #ffffff, 0px -20px 0px -10px #ffffff,
    20px 0px 0px -10px #ffffff, -20px 0px 0px -10px #ffffff,
    0px 0px 0px 10px #ff0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;

    @include mobile {
      flex-direction: column;
    }

    .card {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include mobile {
        align-self: center;
        width: 91%;
      }

      h1 {
        font-size: 2.5em;
        color: red;
      }

      .ceos {
         box-shadow: -17px 17px 5px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -17px 17px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -17px 17px 5px -1px rgba(0, 0, 0, 0.75);
        background-color: white;
        max-width: 200px;
        padding: 10px 25px;
       
        h4 {
          font-size: 22px;
          margin: 0;
        }
        h6 {
          margin: 0;
          color: red;
          font-size: 16px;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 20px;
      }
    }

    img {
      // border: 1px solid blue;
      height: 450px;
      border-radius: 5%;

      @include mobile {
        height: 500px;
        object-fit: contain;
        align-self: center;
      }
    }
  }
}
