@import '../../global.scss';


.contact {
  margin-top: 250px;
  background-color: red;
  background: linear-gradient(180deg, white 5%, #fe2835 25%);
  // margin-top: 100px;
  .container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
     border: 1px solid black;
      
    }
    .title {
      text-align: center;
      margin-bottom: 50px;

      h2 {
        color: green;
        font-size: 3em;
        margin: 0;
      }
      h4 {
        font-size: 2em;

        margin: 0;
        font-weight: 400;
      }
    }

    .body {
      padding: 5px;
      display: flex;
      justify-content: space-between;

      .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 35%;
        padding: 30px;

        h3 {
          text-align: center;
          color: white;
          font-size: 2em;
          font-weight: 800;
        }
        a {
          color: white;
          text-align: center;
          font-weight: 400;
          text-decoration: none;
        }
        img {
          width: 60px;
          margin-bottom: 50px;
          cursor: pointer;
        }

        .telefono {
          margin-bottom: 18px;
        }

        .tel {
          margin-bottom: 30px;
        }
        .ubicacion {
          margin-bottom: 35px;
        }
      }
    }

    .buttom {
      border-top: 1px solid white;
      width: 100%;
      text-align: center;

      h4 {
        font-size: 15px;
        color: white;
        font-weight: 400;
      }
    }
  }
}
