.proceso {
  margin-top: 250px;
  

  .center {
    max-width: 1400px;
    margin: 0 auto;

    h1 {
      color: red;
      font-size: 2.5em;
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
 

      .left {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    
      }
      img {
        height: 400px;
      }

      .container-1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 ;

        .frases {
          padding: 10px;
          width: 50%;
          border-left: 10px solid #067f41;
        
          h3 {
            font-weight: 400;
            font-size: 25px;
          }


          span {
              font-weight: 600;
              color: #067f41;
          }
        }
      }
    }
  }
}
