.navBar {
  background-color: #009247;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 10px 0;

  .container {
    max-width: 80%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    .logo {
      height: 80px;
      cursor: pointer;
    }
    .list {
      display: flex;
      justify-content: space-between; 
      padding: 5px;

      a {
        font-size: 1.25em;
        list-style: none;
        padding: 10px;
        margin-right: 15px;
        text-decoration: none;
        color: white;

        
        cursor: pointer;
        &:hover {
          font-weight: 500;
        
        }
      }
    }
  }
}
//
